@using GestionCegepWeb.Models
@model CegepDTO
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    @*Affichage de la liste des cégeps...*@
    <br>
    <h3>Liste des cégep(s) (@ViewBag.ListeCegeps.Length Cégep(s)) :</h3>
    <br>
    
       
       
    <form asp-controller="" asp-action="">
        
    <table class="table table-bordered table-striped">
        <tbody><tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Province</th>
            <th>Code Postal</th>
            <th>Téléphone</th>
            <th>Courriel</th>
            <th></th>
        </tr>@foreach (CegepDTO cegep in ViewBag.ListeCegeps)
        {<tr>
                <td>@cegep.Nom</td>
                <td>@cegep.Adresse</td>
                <td>@cegep.Ville</td>
                <td>@cegep.Province</td>
                <td>@cegep.CodePostal</td>
                <td>@cegep.Telephone</td>
                <td>@cegep.Courriel</td>
                <td style="width:20%">
                    
                    
                    <input class="btn btn-primary" type="button" onclick="document.getElementById('nomCegep').value='@cegep.Nom';this.form.action='/Cegep/FormulaireModifierCegep';this.form.method='get';submit();" name="nomCegep" value="Modifier">
                     


                </td>
            </tr>}
            </tbody>
            <input type="hidden" id="nomCegep" name="nomCegep">
            </table>



    </form>
    <br />
    <form asp-controller="Cegep" asp-action="AjouterCegep" method="post">

    <div class="form-group">
        <label asp-for ="Nom">Nom</label>
        <input asp-for ="Nom"   class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Adresse" >Année</label>
        <input asp-for="Adresse" name="adresse" class="form-control">
    </div>

    
    <div class="form-group">
        <label asp-for="Ville" >Ville</label>
        <input asp-for="Ville" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Province" >Province</label>
        <input asp-for="Province" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="CodePostal" ></label>
        <input asp-for="CodePostal"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Telephone" ></label>
        <input asp-for="Telephone"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Courriel" ></label>
        <input asp-for="Courriel"  class="form-control">
    </div>

    @*<input type="hidden"  asp-for="IdFilm" />*@
    @*<input type="hidden"  name="nomCegep" value="Nom" />*@

    <button type="submit" class="btn btn-success">Modifier</button>
    
    
</form>
}
