@using GestionCegepWeb.Models
@model EnseignantDTO

@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if(ViewBag.MessageErreur != null)
{
   <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2> 
}else
{
    
    @*Affichage de la liste des Cégeps..*@
    <br>
    <form asp-controller="Enseignant" asp-action="Index" method="get">
        <select onchange="submit();"  name="nomCegep">
    @*<option value="">Choississez un Cégep</option>*@
       @foreach(CegepDTO unCegep in ViewBag.ListeCegeps)
            {
                if(@ViewBag.nomCegepChoix.Equals(unCegep.Nom))
                {
                    <option  value="@unCegep.Nom" selected>@unCegep.Nom</option>
                }
                else
                {
                    <option  value="@unCegep.Nom">@unCegep.Nom</option>
                }
                
            }
        </select>
        <br>
        @*<option value="">Choississez un Département</option>*@
            <select onchange="submit();"  name="nomDepartement">
    
        @*Affichage de la liste des enseignants..*@
       @foreach(DepartementDTO unDepartement in ViewBag.ListDepartements)
            {
                if(@ViewBag.nomDepartementChoix.Equals(unDepartement.Nom))
                {
                    <option  value="@unDepartement.Nom" selected>@unDepartement.Nom</option>
                }
                else
                {
                    <option  value="@unDepartement.Nom">@unDepartement.Nom</option>
                }
                
            }
        </select>
    </form>
    <br />
    <h1>@ViewBag.titre</h1>
    <br />
    <h3>Liste des Enseignant(s) (@ViewBag.ListeEnseignant.Length Enseignant(s)) :</h3>
    <br>
    <table class="table table-bordered table-striped">
        <tbody><tr>
            <th>No</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Province</th>
            <th>Code postal</th>
            <th>Téléphone</th>
            <th>Couriel</th>
          
        </tr>
        @*Affichage de la liste des enseignants..*@
        @foreach (EnseignantDTO enseignant in ViewBag.ListeEnseignant)
        {<tr>
                <td>@enseignant.NoEmploye</td>
                <td>@enseignant.Nom</td>
                <td>@enseignant.Prenom</td>
                <td>@enseignant.Adresse</td>
                <td>@enseignant.Ville</td>
                <td>@enseignant.Province</td>
                <td>@enseignant.CodePostal</td>
                <td>@enseignant.Telephone</td>
                <td>@enseignant.Courriel</td>
                
            </tr>}</tbody></table>
            <br />

             <form asp-controller="Enseignant" asp-action="AjouterEnseignant" method="post">

    <div class="form-group">
        <label asp-for ="NoEmploye"></label>
        <input asp-for ="NoEmploye"   class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Nom" ></label>
        <input asp-for="Nom"  class="form-control">
    </div>

    
    <div class="form-group">
        <label asp-for="Prenom" ></label>
        <input asp-for="Prenom" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Adresse" ></label>
        <input asp-for="Adresse" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Ville" ></label>
        <input asp-for="Ville"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Province" ></label>
        <input asp-for="Province"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="CodePostal" ></label>
        <input asp-for="CodePostal"  class="form-control">
    </div>
     <div class="form-group">
        <label asp-for="Courriel" ></label>
        <input asp-for="Courriel"  class="form-control">
    </div>

    <input type="hidden"  name="nomCegep" value="@ViewBag.nomCegepChoix" />
    <input type="hidden"  name="nomDepartement" value="@ViewBag.nomDepartementChoix" />

    <button type="submit" class="btn btn-primary">Ajouter</button>
    
    
</form>
   
        
            
    
    
}


