@using GestionCegepWeb.Models
@model DepartementDTO
@{
    
}

@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if(ViewBag.MessageErreur != null)
{
   <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2> 
}else
{
    
    @*Affichage de la liste des des Cégeps..*@
    <br>
    <form asp-controller="Departement" asp-action="Index" method="get">
        <select onchange="submit();"  name="nomCegep">
    @*<option value="">Choississez un Cégep</option>*@
       @foreach(CegepDTO unCegep in ViewBag.ListeCegeps)
            {
                if(@ViewBag.nomCegepChoix.Equals(unCegep.Nom))
                {
                    <option  value="@unCegep.Nom" selected>@unCegep.Nom</option>
                }
                else
                {
                    <option  value="@unCegep.Nom">@unCegep.Nom</option>
                }
                
            }
        </select>
    </form>
    <br />
    <h1>@ViewBag.titre</h1>
    <br />
    <h3>Liste des Département(s) (@ViewBag.ListeDepartement.Length Département(s)) :</h3>
    <br>
    
   
        
            
    <form asp-controller="" asp-action="">
    <table class="table table-bordered table-striped">
        <tbody><tr>
            <th>No</th>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
          
        </tr>
        @*Affichage de la liste des Départements..*@
        @foreach (DepartementDTO departement in ViewBag.ListeDepartement)
        {<tr>
                <td>@departement.No</td>
                <td>@departement.Nom</td>
                <td>@departement.Description</td>
                <td><input class="btn btn-primary" type="button" onclick="document.getElementById('nomDepartement').value='@departement.Nom';this.form.action='/Departement/FormulaireModifierDepartement';this.form.method='get';submit();" name="nomDepartement" value="Modifier"></td>
            </tr>}</tbody>
            <input type="hidden" id="nomDepartement" name="nomDepartement">
            <input type="hidden"  name="nomCegep" value="@ViewBag.nomCegepChoix" />
            </table>

        </form>

        <br />

     <form asp-controller="Departement" asp-action="AjouterDepartement" method="post">

    <div class="form-group">
        <label asp-for ="No"></label>
        <input asp-for ="No"   class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Nom" ></label>
        <input asp-for="Nom"  class="form-control">
    </div>

    
    <div class="form-group">
        <label asp-for="Description" ></label>
        <input asp-for="Description" class="form-control">
    </div>
   

    <input type="hidden"  name="nomCegep" value="@ViewBag.nomCegepChoix" />

    <button type="submit" class="btn btn-primary">Ajouter</button>
    
    
</form>
}

