@using GestionCegepWeb.Models
@model CoursDTO



@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if(ViewBag.MessageErreur != null)
{
   <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2> 
}else
{
    
    @*Affichage de la liste des Cegeps..*@
    <br>
    <form asp-controller="Cours" asp-action="Index" method="get">
        <select onchange="submit();"  name="nomCegep">
    @*<option value="">Choississez un Cégep</option>*@
       @foreach(CegepDTO unCegep in ViewBag.ListeCegeps)
            {
                if(@ViewBag.nomCegepChoix.Equals(unCegep.Nom))
                {
                    <option  value="@unCegep.Nom" selected>@unCegep.Nom</option>
                }
                else
                {
                    <option  value="@unCegep.Nom">@unCegep.Nom</option>
                }
                
            }
        </select>
        <br>
        @*<option value="">Choississez un Département</option>*@
            <select onchange="submit();"  name="nomDepartement">
    
        @*Affichage de la liste des enseignants..*@
       @foreach(DepartementDTO unDepartement in ViewBag.ListDepartements)
            {
                if(@ViewBag.nomDepartementChoix.Equals(unDepartement.Nom))
                {
                    <option  value="@unDepartement.Nom" selected>@unDepartement.Nom</option>
                }
                else
                {
                    <option  value="@unDepartement.Nom">@unDepartement.Nom</option>
                }
                
            }
        </select>
    </form>
    <br />
    <h1>@ViewBag.titre</h1>
    <br />
    @*Affichage de la liste des Cours..*@
    <h3>Liste des Cour(s) (@ViewBag.ListeCourts.Length Cour(s)) :</h3>
    <br>
    <table class="table table-bordered table-striped">
        <tbody><tr>
            <th>No</th>
            <th>Nom</th>
            <th>Déscription</th>
          
        </tr>
        @foreach (CoursDTO cour in ViewBag.ListeCourts)
        {<tr>
                <td>@cour.No</td>
                <td>@cour.Nom</td>
                <td>@cour.Description</td>
        </tr>}
            
        </tbody>
        </table>
        <br />
        <form asp-controller="Cours" asp-action="AjouterCours" method="post">

    <div class="form-group">
        <label asp-for ="No"></label>
        <input asp-for ="No"   class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Nom" ></label>
        <input asp-for="Nom"  class="form-control">
    </div>

    
    <div class="form-group">
        <label asp-for="Description" ></label>
        <input asp-for="Description" class="form-control">
    </div>
   

    <input type="hidden"  name="nomCegep" value="@ViewBag.nomCegepChoix" />
    <input type="hidden"  name="nomDepartement" value="@ViewBag.nomDepartementChoix" />

    <button type="submit" class="btn btn-primary">Ajouter</button>
    
    
</form>
     
}



